html {
    background-color: #f0bdc6;
}

body {
    color: black;
    background-color: #fffefc;
    padding: 50px;
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 20px -20px 60px;
    color: midnightblue;
   /* padding: 70px;*/
}

a:link {
    color: black;
}

a:visited {
    color: midnightblue;
}

a:hover {
    color:blue;
}

header, footer {
		font-family: 'Bebas Neue', cursive;
    text-align: center;    
		margin: -20px -20px -10px -20px;
}

footer {
	font-family: 'Oxygen Mono', monospace;
	text-align: left;
	font-size: 10px;
}